{% extends 'bootstrap/base.html' %}

{% block head %}

    {% block title %}
        Управление новостями
    {% endblock %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.2/basic.css" integrity="sha512-Ucip2staDcls3OuwEeh5s9rRVYBsCA4HRr18+qd0Iz3nYpnfUeCIMh/82aHKeYgdaXGebmi9vcREw7YePXsutQ==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.2/dropzone.css" integrity="sha512-CmjeEOiBCtxpzzfuT2remy8NP++fmHRxR3LnsdQhVXzA3QqRMaJ3heF9zOB+c1lCWSwZkzSOWfTn1CdqgkW3EQ==" crossorigin="anonymous" />

    {% block styles %}
    <style>
        #editorjs {
            background-color: azure;
            border-radius: 10px;
            border: 2px solid black;
            margin: 5px 0 5px 0;
            padding: 10px;
        }

        .ce-block {
            background-color: white;
            margin: 5px 0 5px 0;
            padding: 5px;
        }
    </style>
    {% endblock %}

{% endblock %}


{% block body %}
    <div class="container-fluid">
        <div class="row">
            <h1>Добавить новость</h1>
            <input id="date" type="date">
        </div>

        <div class="row">
            <div class="col-md-8 col-md-offset-2" id="editorjs" name="editorjs"></div>
        </div>

        <div id="drop" class="dropzone dz-clickable row">
            <div class="dz-message">Нажмите для загрузки или перетащите файл (только картинки!)</div>
        </div>

        <div class="row" align="center">
            <button id="save">Сохранить</button>
            <div id="loader"></div>
        </div>
    </div>

{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.2/dropzone.js" integrity="sha512-0QMJSMYaer2wnpi+qbJOy4rOAlE6CbYImSlrgQuf2MBBMqTvK/k6ZJV126/EbdKzMAXaB6PHzdYxOX6Qey7WWw==" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/list@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/header@latest"></script>
    <script src="{{url_for('static', filename='scripts/news_adder.js')}}"></script>
{% endblock %}

{% endblock %}
